*{
    margin: 0 auto;
    padding: 0;
}
main{
    margin-top: 10rem;
    width: 100%;
    height: 100rem;
    /* background-color: aqua; */
}
.were{
    width: 100%;
    height: 20rem;
    overflow: hidden;
    background-image: url(../../img/dev/1.jpg);
    /* background-color:#ccc; */
    background-size:40rem 20rem;

}
.were_{
    width: 100%;
    height: 20rem;
    overflow: hidden;
    position: relative;
    display: flex;
    background-color:rgb(0, 0, 0,.3);
}
.were>.were_>p{
   text-align: center;
   padding-top: 3rem;
   font-size: 3rem;
   color: white;

}
main p:nth-of-type(1){
    width: 100%;
    height: 7rem;
    line-height: 7rem;
    padding-left: 2rem;
    font-size: 3rem;
}
.how{
    width: 90%;
    height: 20rem;
    background-color: blue;
    background-image: url(../../img/dev/1\ \(1\).jpg);
    background-size:cover;
}
.how-{
    margin: 2rem auto;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:rgb(0, 0, 0,.5);
}
main>.how>.how->p{
    width: 80%;
    padding-top: 2rem;
    line-height: 3rem;
    font-size: 2rem;
    color: white;
}
main>.how>.how->span{
    width: 45%;
    text-align: center;
    height: 4rem;
    margin-top: 6rem;
    margin-left:5rem;
    line-height: 3.5rem;
    color: white;
    font-size: 2rem;
    /* background-color: white; */
    border: 1px solid white;
    border-radius: 5rem;
}
footer{
    margin-top: 5rem;
    width: 100%;
    height: 14rem;
    overflow: hidden;
    background-color: #0065c3;
}
.ft{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid white;
}
.ter{
    height: 7rem;
}
footer .ter p{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: white;
}
.ter ul{
    list-style: none;
}
.ter ul li{
    text-align: center;
    padding-left: 1.3rem;
    float: left;
    width: 20% ;
} 
.ter ul li a{
    font-size: 1.2rem;
    color: white;
}