.menuMain {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #0065C3;
}

.menuMain .listTab {
    width: 100%;
    height: 30rem;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.menuMain .listTab a {
    color: #fff;
    display: none;
}