.mainNav {
    width: 100%;
    height: 10rem;
    display: flex;
    box-sizing: border-box;
    padding: 0 1.6rem;
    background-color: #0065C3;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 50;
    overflow: hidden;
}

.mainNav .navLogo {
    width: 3.8rem;
    height: 3.8rem;
    background-repeat: no-repeat;
    background-size: 3.8rem;
}

.mainNav .navTitle {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    overflow: hidden;
}
.currentNav .navTitle {
    font-size: 1.6rem;
    font-weight: 400;
    color: #666;
    overflow: hidden;
}

.mainNav .navTitle::after {
    content: "";
    overflow: hidden;
    display: inline-block;
    margin-left: .7rem;
    width: 1.2rem;
    height: 1.2rem;
    background: url('../../img/icon/向下.png') no-repeat;
    background-size: 1.2rem;
    transition: .3s linear;
}
.currentNav .navTitle::after {
    content: "";
    overflow: hidden;
    display: inline-block;
    margin-left: .7rem;
    width: 1.2rem;
    height: 1.2rem;
    background: url('../../img/icon/向上.png') no-repeat;
    background-size: 1.2rem;
    transform: rotate(180deg);
    transition: .3s linear;
}

.mainNav .navListIcon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-size: 3rem;
}
.currentNav .navListIcon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: url("../../img/icon/单列列表展开.png");
    background-size: 3rem;
}