body .tabBox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 30;
}

@keyframes slideUpSelf {
    0% {
        opacity: 0;
        transform: translateY(100rem);
    }
    30% {
        opacity: 1;
        transform: translateY(-2rem);
    }
    50% {
        opacity: 1;
        transform: translateY(1rem);
    }
    70% {
        transform: translateY(-.5rem);
    }
    90% {
        transform: translateY(.3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
@keyframes slideDownSelf {
    0% {
        opacity: 1;
        transform: translateY(0rem);
    }
    30% {
        opacity: 1;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(100rem);
    }
}

body .PEPSI {
    /* transform: translateY(100rem); */
    position: fixed;
    top: 20rem;
    left: 0;
    animation: slideUpSelf .5s linear;
    width: 100%;
    border-radius: 1.5rem;
    height: 60rem;
    /* background-color: #0065C3; */
    z-index: 40;
    overflow:auto;
    box-sizing: border-box;
    /* border-top: 2px solid #ccc; */
    /* box-shadow: 0px 20px 15px rgba(0,0,0,1); */
}

body .PEPSI .tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10% 3%;
    width: 94%;
    overflow: hidden;
    height: 130rem;
    /* background-color: pink; */
    overflow: hidden;
}

body .PEPSI .tab .tabPic {
    width: 15rem;
    height: 30rem;
    background-size: 15rem;
}

body .PEPSI .tab .ntrBox {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

body .PEPSI .tab .ntrBox .ntrList {
    width: 96%;
    margin: 2%;
    box-sizing: border-box;
    border: 2px solid black;
    /* background-color: aquamarine; */
}

h1 {
    margin: 1.5rem 1rem;
    font-size: 5rem;
    height: auto;
    line-height: 5rem;
    /* line-height: 6rem; */
    font-weight: 500;
}

h2 {
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 400;
}

/* 内容部分 */
.ntrList li {
    width: 94%;
    border-bottom: 1px solid black;
    line-height: 2rem;
    float: left;
    /* box-sizing: border-box; */
    padding: 1.2% 3%;
    font-size: 1.5rem;
    color: black;
}

.ntrList p {
    height: 1rem;
    width: 100%;
}

.ntrList li:nth-of-type(2) {
    border-bottom: 1.2rem solid #000;
}

.ntrList li span:nth-of-type(2) {
    float: right;
}

.ntrList .CALO {
    border-bottom: .5rem solid #000;
}

.tab .ingredients {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 10rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: underline;
}

.tab .ingredients .last_updated {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    float: right;
    margin-top: 1.5rem;
}

.tab .botDiv {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 2rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

.tab .botDiv .buynow {
    width: 13rem;
    height: 3rem;
    /* margin-left: 1rem; */
    border: 0.2rem solid #fff;
    border-radius: 1.5rem;
    color: white;
    /* background-color: #0065C3; */
    font-size: 1.4rem;
}

.tab .botDiv span {
    color: #fff;
    font-size: 1.4rem;
    margin-top: 1rem;
}